{% comment %}
  Components under the Sudoku Form (Settings, Next Action Button, Help)
  Params:
    nxt_action: The next Action ('validate' | 'solve' | 'show_candidates')
{% endcomment %}

{# visible part (Buttons) #}
<div class="d-flex justify-content-around">
  {# Settings Button #}
  <button class="btn btn-secondary rounded-pill d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#settings-modal">
      <span class="material-icons-outlined">settings</span>
  </button>

  {# Next Action Button #}
  {% if nxt_action == "validate" %}
    <button formaction="{% url 'submit-sudoku' %}" class="btn btn-lg btn-primary rounded-pill compute-btn" id="submit-sudoku-btn" form="form-sudoku" type="submit">
      Validieren
    </button>
  {% elif nxt_action == "show_candidates" %}
    {# Show next hints #}
    <button type="button" class="btn btn-lg btn-primary rounded-pill" id="nxt-hint-btn">
      Nächster Hinweis
    </button>
    {# Submit to server to recompute candidates #}
    <button style="display: none;" formaction="{% url 'compute-candidates' %}" class="btn btn-lg btn-primary rounded-pill compute-btn" id="solve-sudoku-btn" form="form-sudoku" type="submit">
      Kandidaten Berechnen
    </button>
  {% elif nxt_action == "solve" %}
    {# toggle candidates #}
    <button type="button" class="btn btn-lg btn-secondary rounded-pill" id="toggle-candidates-btn">
      Kandidaten an-/ausschalten
    </button>
    {# submit to server for next iteration of algorithms #}
    <button formaction="{% url 'solve-sudoku' %}" class="btn btn-lg btn-primary rounded-pill compute-btn" id="solve-sudoku-btn" form="form-sudoku" type="submit">
      Lösen
    </button>
  {% endif %}

  {# Help Button #}
  <button class="btn btn-success rounded-pill d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#help-modal">
    <span class="material-icons-outlined">help_outline</span>
  </button>
</div>


{# Modals #}

{# Settings-Modal #}
<div class="modal" id="settings-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p>Einstellungen</p>
        <button type="button" class="btn btn-danger float-end" data-bs-dismiss="modal">
          <span class="material-icons-outlined
">close</span>
        </button>
      </div>
      <div class="modal-content">
        {# TODO: Settings Content #}
      </div>
    </div>
  </div>
</div>

{# Help Modal #}
<div class="modal" id="help-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p></p> {# needed for float-end #}
        <button type="button" class="btn btn-danger float-end" data-bs-dismiss="modal">
          <span class="material-icons-outlined
">close</span>
        </button>
      </div>
      <div class="modal-content">
        {# TODO: Help Text (maybe as iframe) #}
      </div>
    </div>
  </div>
</div>