{% comment %}
  Components on top of the Sudoku Form (Quickinfo and Clear Button)
  Params:
    show_clr: Show the clear button ?
    text: quickinfo text
    text_template: Template for the quickinfo text
    dict: Dictionary for the text template
    (Either text or text_template + dict)
{% endcomment %}

{% load static %}

<div class="d-flex justify-content-around">
  {# Quickinfo #}
  <link rel="stylesheet" href="{% static 'css/quickinfo.css' %}">
  <div class="container-fluid quickinfo d-flex align-items-center justify-content-around">
    <p class="align-self-center mb-0">
      {% if text_template %}
        {% include text_template with dict=dict %}
      {% else %}
        {{text}}
      {% endif %}    
    </p> {# Text Preview #}
    <button type="button" class="btn btn-primary rounded-pill d-flex align-content-center" data-bs-toggle="modal" data-bs-target="#quickinfo-modal">
      <span class="material-icons-outlined">
        info
      </span>
    </button>
  </div>
  {# Quickinfo modal #}
  <div class="modal" id="quickinfo-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <p></p> {# needed for float-end #}
          <button type="button" class="btn btn-danger float-end" data-bs-dismiss="modal">
            <span class="material-icons-outlined">close</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            {% if text_template %}
              {% include text_template with dict=dict modal="true" %}
            {% else %}
              {{text}}
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>

  {# Clear Button #}
  {% if show_clr %}
    <button id="clear-sudoku-btn" form="form-sudoku" type="reset" class="btn btn-danger rounded-pill d-flex align-content-center">
      <span class="material-icons-outlined">delete</span>
    </button>
  {% endif %}
</div>

