{% comment %} 
    Quickinfo field
    Params: 
        text: Text to display
{% endcomment %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/quickinfo.css' %}">

<div class="container-fluid quickinfo d-flex justify-content-around align-items-center">
  <p class="align-self-center mb-0 me-2">{{text}}</p> {# Text Preview #}
  <button type="button" class="btn btn-primary rounded-pill" data-bs-toggle="modal" data-bs-target="#quickinfo-modal">
    <span class="material-icons-outlined">
      info
    </span>
  </button>
  <div class="modal" id="quickinfo-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
        <div class="modal-body">
          <p>{{text}}</p>
        </div>
      </div>
    </div>
  </div>
</div>