/* For fields that get a (new) value */
.field-new-value {
    background-color: var(--bs-teal) !important;
}

/* Fields where candidates are removed */
.field-removed-candidate {
    background-color: var(--bs-secondary) !important;
}

/* For areas that are affected by an algorithm */
.field-affected {
    background-color: var(--bs-yellow);
}

.field-affected input, .field-affected img {
    background-color: var(--bs-yellow);   
}

/* Make images without src hidden */
img[src=""] {
    visibility: hidden;
}