/* For fields that get a (new) value */
.field-new-value {
    background-color: var(--bs-teal) !important;
}

/* Fields where candidates are removed */
.field-removed-candidate {
    background-color: var(--bs-gray) !important;
}

/* Fields where candidates are locked */
.field-locked-candidates {
    background-color: var(--bs-orange) !important;
}

/* Fields where candidates are locked and others are removed */
.field-locked-and-removed-candidates {
    background-color: rgb(136, 113, 70) !important;
}

/* For areas that are affected by an algorithm */
.field-affected {
    background-color: var(--bs-yellow);
}

.field-affected input, .field-affected img {
    background-color: var(--bs-yellow);   
}

/* For the Explanation Text */
@media screen and (orientation: landscape) {
    .explanation-img {
        max-height: 50vh;
    }   
}

@media screen and (orientation: portrait) {
    .explanation-img {
        max-width: 70vw;
    }   
}
