{% extends 'base.html' %}

{% comment %} 
  Params:
    sudoku: Sudoku Class
    range: range(0,9)
    failed_tests: Was a Sudoku rejected from the server
    error_msg: The Error Message, in case the backend tests failed
    quickinfo: quickinfo text
    link_dev_tools: link the dev tools home ?
{% endcomment %}

{% block navbar-content %}
  {% if link_dev_tools %}
    <a href="{% url 'dev_tools_home' %}">Dev Tools</a>
  {% endif %}
{% endblock navbar-content %}

{% block content %}
  {# Error message if backend checks failed #}
  {% if failed_tests %}
    <div class="alert alert-danger alert-dismissible d-flex align-items-center">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong class="material-icons-outlined">warning</strong>
      <p class="mb-0 align-self-center">{{error_msg}}<p>
    </div>
  {% endif %}
  
  {# Rest of the Page #}
  {% include 'page_parts/all.html' with show_clr="True" text=quickinfo sudoku=sudoku range=range sudoku_readonly="" nxt_action="validate" show_help=False %}
    {# ="" -> False #}

{% endblock content %}