{% comment %} 
    Template to render the sudoku
    Params:
        sudoku: Sudoku Class
        range: range(0,9)
{% endcomment %}

{% load accessors %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/sudoku.css' %}">
<script src="{% static 'js/sudoku.js' %}"></script>

<div class="sudoku">
    <form method="post">
        <table>
            <tbody>
                {% for row in range %}
                    <tr>
                        {% for column in range %}
                            <td>
                                {% with field=sudoku|row:row|column:column %}
                                    <input id="{{row}}_{{column}}" name="{{row}}_{{column}}" type="number" value="{{ field.get_value }}" maxlength="1"/> 
                                    <div style="display: none;">
                                        <p>TODO: Candidates</p>
                                    </div>
                                {% endwith %}
                            </td>
                        {% endfor %}
                    </tr>  
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>