{% comment %} 
    Template to render the sudoku
    Params:
        sudoku: Sudoku Class
        range: range(0,9)
        btn_template: button template 
{% endcomment %}

{% load accessors %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/sudoku.css' %}">
<script src="{% static 'js/sudoku.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/buttons.css' %}">

{% comment %} 
    Info And Delete Buttons
{% endcomment %}
<div class="d-flex justify-content-around">
    {% include "info_field/quickinfo.html" %}
    <button id="clear-sudoku-btn" form="form-sudoku" type="button" class="btn btn-danger rounded-circle">
        <span class="material-icons-outlined">clear</span>
        
    </button>
</div>

{% comment %} 
    Sudoku Form
{% endcomment %}
<div class="sudoku d-flex justify-content-center container-fluid">
    <form method="post" id="form-sudoku">
        {% csrf_token %}
        <table>
            <tbody>
                {% for row in range %}
                    <tr>
                        {% for column in range %}
                            <td>
                                {% with field=sudoku|row:row|column:column %}
                                    <input id="{{row}}_{{column}}" name="{{row}}_{{column}}" type="number" value="{{ field.get_value }}" maxlength="1"/> 
                                    <div style="display: none;">
                                        <p>TODO: Candidates</p>
                                    </div>
                                {% endwith %}
                            </td>
                        {% endfor %}
                    </tr>  
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>

{% comment %} 
    Settings, Validate
{% endcomment %}

<div class="d-flex justify-content-around">
    <div>TODO: Settings Button</div>
    {% include btn_template %}
    <div>TODO: Question Button</div>
</div>