{% comment %} 
    Template to render the sudoku
    Params:
        sudoku: Sudoku Class
        range: range(0,9)
        btn_template: button template 
{% endcomment %}

{% load accessors %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/sudoku.css' %}">
<script src="{% static 'js/sudoku.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/buttons.css' %}">

{% comment %} 
    Info And Delete Buttons
{% endcomment %}

<div class="d-flex justify-content-around">
    {% include "info_field/quickinfo.html" with text="hello" %}
    <button id="clear-sudoku-btn" form="form-sudoku" type="button" class="btn btn-danger rounded-pill d-flex align-content-center">
        <span class="material-icons-outlined">clear</span>
    </button>
</div>

{% comment %} 
    Sudoku Form
{% endcomment %}
<div class="sudoku d-flex justify-content-center container-fluid">
    <form method="post" id="form-sudoku">
        {% csrf_token %}
        <table>
            <tbody>
                {% for row in range %}
                    <tr>
                        {% for column in range %}
                            <td>
                                {% with field=sudoku|row:row|column:column %}
                                    <input id="{{row}}_{{column}}" name="{{row}}_{{column}}" type="number" value="{{ field.get_value }}" maxlength="1"/> 
                                    <div style="display: none;">
                                        <p>TODO: Candidates</p>
                                    </div>
                                {% endwith %}
                            </td>
                        {% endfor %}
                    </tr>  
                {% endfor %}
            </tbody>
        </table>
    </form>
</div>

{% comment %} 
    Settings, Validate
{% endcomment %}

<div class="d-flex justify-content-around">
    <!-- Settings Modal and Button -->
    <button class="btn btn-secondary rounded-pill d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#settings-modal">
        <span class="material-icons-outlined">settings</span>
    </button>
    <div class="modal" id="settings-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p>Settings</p>
                    <button type="button" class="btn btn-danger float-end" data-bs-dismiss="modal">Close</button>
                </div>
                <div class="modal-content">
                    {# TODO: Settings Content #}
                </div>
            </div>
        </div>
    </div>

    {% include btn_template %}

    <!-- Help Modal and Button -->
    <button class="btn btn-success rounded-pill d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#help-modal">
        <span class="material-icons-outlined">help_outline</span>
    </button>
    <div class="modal" id="help-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <p></p> {# needed for float-end #}
                    <button type="button" class="btn btn-danger float-end" data-bs-dismiss="modal">Close</button>
                </div>
                <div class="modal-content">
                    {# TODO: Help Text #}
                </div>
            </div>
        </div>
    </div>
</div>