{% extends 'base.html' %}

{% comment %} 
    Params:
        sudoku: Sudoku Class
        range: range(0,9)
{% endcomment %}

{% block content %}
    {# Success Message #}
    <div class="alert alert-success alert-dismissible d-flex align-items-center">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong class="material-icons-outlined">check_circle</strong> The submitted Sudoku is validated!
    </div>

    {% include 'sudoku.html' with sudoku=sudoku range=range sudoku_readonly="True" btn_template="button_groups/solve.html"%}
{% endblock content %}