{% comment %} 
  The Base Template for a helptext
{% endcomment %}

<div class="modal-content">
  <div class="container-fluid">
    <b>
      {% block algo_name %}{% endblock algo_name %}
    </b>
    <blockquote>
      {% block helptext %}
        {# The textual explanations #}
      {% endblock helptext %}
    </blockquote>
    {# the corresponding image #}
    <div class="mx-auto">
      <img class="explanation-img" src="{% block img_src %}{% endblock %}"/>
    </div>
  </div>
</div>

{# Credits Block (override to remove Credits) #}
{% block credits %}
  <div class="modal-footer">
    <b>Quelle:</b>
    <p>Rätselbüro Martin Simon,</p> 
    <a href="https://www.thinkgym.de/r%C3%A4tselarten/sudoku/l%C3%B6sungsstrategien-1/">
      www.thinkgym.de/rätselarten/sudoku/lösungsstrategien-1/
    </a>
    <i>(auch 2,3)</i>
  </div>
{% endblock credits %}