{% extends 'algorithms/helptexts/base_helptext.html' %}

{% comment %}
Explanation for block-row-check Algorithm
{% endcomment %}

{% load static %}

{% block algo_name %}
Block-Reihe-Check
{% endblock algo_name %}

{% block helptext %}
Sind alle Kandidaten einer Zahl (hier: 4) eines Blocks auch innerhalb einer Reihe, werden die weiteren Kandidaten dieser Zahl aus der Reihe gestrichen.
{% endblock helptext %}

{% block img_src %}{% static 'imgs/help_images/block_row_check.png' %}{% endblock img_src %}