{% extends 'algorithms/helptexts/base_helptext.html' %}

{% comment %} 
Explanation for hidden single Algorithm
{% endcomment %}

{% load static %}

{% block algo_name %}
Versteckter Single
{% endblock algo_name %}

{% block helptext %}
Da jede eingetragene Zahl eine Zeile und eine Spalte abdeckt, bleibt in der Einheit nur noch das grün markierte Feld für die 7.
In dem Block gibt es nur ein Feld mit dem Kandidaten 7, darum muss in diesem Feld die 7 eingetragen werden.
{% endblock helptext %}

{% block img_src %}{% static 'imgs/help_images/hidden_single.png' %}{% endblock img_src %}