{% extends 'algorithms/helptexts/base_helptext.html' %}

{% comment %} 
Explanation for open single Algorithm
{% endcomment %}

{% load static %}

{% block algo_name %}
Nackter Single
{% endblock algo_name %}

{% block helptext %}
Aus diesem Feld konnten durch zuvor angewendete Algorithmen alle Kandidaten bis auf einer entfernt werden.
Sobald nur noch ein Kandidat in einem Feld möglich ist muss dieser eingetragen werden.
{% endblock helptext %}

{% block img_src %}{% static 'imgs/help_images/open_single.png' %}{% endblock img_src %}