{% extends 'algorithms/helptexts/base_helptext.html' %}

{% comment %}
Explanation for row-block-check Algorithm
{% endcomment %}

{% load static %}

{% block algo_name %}
Reihe-Block-Check
{% endblock algo_name %}

{% block helptext %}
Sind alle Kandidaten einer Zahl (hier: 9) in einer Reihe(hier R4) auch innerhalb eines Blocks(hier B5), werden die weiteren Kandidaten dieser Zahl aus dem Block gestrichen.
{% endblock helptext %}

{% block img_src %}{% static 'imgs/help_images/row_block_check.png' %}{% endblock img_src %}