{% extends 'algorithms/helptexts/base_helptext.html' %}

{% comment %}
Explanation for third eye Algorithm
{% endcomment %}

{% load static %}

{% block algo_name %}
Drittes Auge
{% endblock algo_name %}

{% block helptext %}
Wenn alle leeren Felder nur noch zwei Kandidaten aufweisen, bis auf ein Feld mit drei Kandidaten, ist für dieses Feld der Kandidatenwert, der 3x in der Einheit auftaucht zwingend der richtige.
D. h. die anderen beiden Kandidaten können gestrichen werden.
{% endblock helptext %}

{% block img_src %}{% static 'imgs/help_images/third_eye.png' %}{% endblock img_src %}