{% comment %} 
  The Generic quickinfo for an algorithm
  param:
    modal: is in Modal
{% endcomment %}

{% load static %}

{# The descriptions for the steps #}
<p class="quickinfo-step" step=1>{% block step-1 %}{% endblock step-1 %}</p>
<p class="quickinfo-step" step=3 style="display: none;">{% block step-3 %}{% endblock step-3 %}</p>

{% if modal %}
  {# The legend for the candidates #}
  <div class="candidate-legend" style="display: none;">
    <b>Legende für Kandidaten</b>
    <table class="table table-sm table-bordered">
      <tbody>
        <tr>
          <td class="align-middle"><img class="mx-auto align-middle" src="{% static 'imgs/candidates/1.svg' %}"/></td>
          <td><p>Standard Kandidaten<p></td>
        </tr>
        <tr>
          <td class="align-middle"><img src="{% static 'imgs/candidates_marked_delete/1.svg' %}"/></td>
          <td><p>Kandidaten, die gelöscht werden<p></td>
        </tr>
        <tr>
          <td class="align-middle"><img src="{% static 'imgs/candidates_marked_use/1.svg' %}"/></td>
          <td><p>Kanidaten, die als Wert in das Feld eingetragen werden<p></td>
        </tr>
        <tr>
          <td class="align-middle"><img src="{% static 'imgs/candidates_marked_lock/1.svg' %}"/></td>
          <td><p>Kandidaten, die in den jeweiligen Feldern sein müssen<p></td>
        </tr>
      </tbody>
    </table>
  </div>

  {# The Legend for the fields #}
  <div class="field-legend" style="display: none;">
    <b>Legende für Felder</b>
    <table class="table table-sm table-bordered">
      <tbody>
        <tr>
          <td class="p-0 field-new-value"><img src=""/></td>
          <td><p>Felder mit einem neuen Wert</p></td>
        </tr>
        <tr>
          <td class="p-0 field-locked-candidates"><img src=""/></td>
          <td><p>Felder in denen Kandidaten festgelegt werden</p></td>
        </tr>
        <tr>
          <td class="p-0 field-removed-candidate"><img src=""/></td>
          <td><p>Felder in denen Kandidaten entfernt werden</p></td>
        </tr>
        <tr>
          <td class="p-0 field-locked-and-removed-candidates"><img src=""/></td>
          <td><p>Felder in denen Kandidaten sowohl festgelegt, als auch entfernt werden</p></td>
        </tr>
        <tr>
          <td class="p-0 field-locked-candidates-2"></td>
          <td><p>Felder in denen Kandidaten festgelegt werden Paar 2 (nur wenn die Felder dabei in zwei Paare aufgeteilt werden, sh. X-Kette)</p></td>
        </tr>
      </tbody>
    </table>
  </div>
{% endif %}