{% extends "algorithms/quickinfos/generic.html" %}

{% comment %} 
  Quickinfo for open single
  Params:
    dict: dictionary 
{% endcomment %}
{% block step-1 %}There is an open pair in the highlighted area{% endblock step-1 %}
{% block step-3 %}Using the open pair algorithm, the marked candidates are used as candidates for the marked fields. 
Because {{dict.values.0}} and {{dict.values.1}} are the only candidates in both fields.{% endblock step-3 %}
{% block step-4 %}Using the open pair algorithm, the candidates were used as the candidates in the highlighted fields.{% endblock step-4 %}


TODO: Kandidaten die nur als Feldkandidaten übernommen werden (zus. markierung)