{% extends "algorithms/quickinfos/generic.html" %}

{% comment %} 
  Quickinfo for open three
  Params:
    dict: dictionary 
{% endcomment %}
{# TODO: correct name? #}
{% block step-1 %}There is an open threesome in the highlighted area{% endblock step-1 %}
{% block step-3 %}Using the open threesome algorithm, the marked candidates are used as candidates for the marked fields. 
Because the marked fields have no other candidate than {{dict.values.0}}, {{dict.values.1}} and {{dict.values.2}}.{% endblock step-3 %}
{% block step-4 %}Using the open pair algorithm, the candidates were used as the candidates in the highlighted fields.{% endblock step-4 %}