{% extends "algorithms/quickinfos/generic.html" %}

{% comment %} 
  Quickinfo for open three
  Params:
    dict: dictionary 
{% endcomment %}
{# TODO: correct name? #}
{% block step-1 %}Es gibt einen offenen Dreier in dem markierten Bereich{% endblock step-1 %}
{% block step-3 %}Mit dem versteckten offenen Dreier Algorithmus werden die hervorgehobenen Kandidaten als Kandidaten für die markierten Felder festgelegt.
Denn die markierten Felder haben keine Kandidaten außer {{dict.values.0}}, {{dict.values.1}} und {{dict.values.2}}.{% endblock step-3 %}