{% extends "algorithms/quickinfos/generic.html" %}

{% comment %} 
  Quickinfo for open single
  Params:
    dict: dictionary 
{% endcomment %}
{% block step-1 %}There is an open single in the highlighted area{% endblock step-1 %}
{% block step-3 %}Using the open single algorithm, the marked candidate will be used as field value. Since its the only candidate for this field.{% endblock step-3 %}
{% block step-4 %}Using the open single algorithm, the candidate was set as the field value in the highlighted field{% endblock step-4 %}