{% extends "algorithms/quickinfos/generic.html" %}

{% comment %} 
  Quickinfo for open three
  Params:
    dict: dictionary 
{% endcomment %}
{# TODO: correct name? #}
{% block step-1 %}Der Algorithmus Drittes Auge kann auf den markierten Bereich angewandt werden.{% endblock step-1 %}
{% block step-3 %}Mit dem drittes Auge Algorithmus wird der Kandidat vom Wert {{dict.value}} für das markierte Feld festgelegt, da das Sudoku sonst nicht eindeutig wäre. Alle anderen Kandidaten werden für das Feld entfernt.{% endblock step-3 %}