{% extends "algorithms/quickinfos/generic.html" %}

{% comment %}
  Quickinfo for hidden single
  Params:
    dict: dictionary
{% endcomment %}
{% block step-1 %}Mithilfe der markierten Felder lässt sich eine XY-Kette aufbauen. Dabei stellt das rot markierte Feld den Start dar und die gelb markierten Felder die Enden.{% endblock step-1 %}
{% block step-3 %}Mit der XY-Kette (Start: rot, Enden: gelb/orange) lassen sich Kandidaten vom Wert {{dict.value}} aus den markierten Feldern löschen.{% endblock step-3 %}